body{
    background-color: beige;
}
#content{
    background-color: white;
    width: 980px;
    margin: auto;
    padding: 32px   ;
}
nav li {
    list-style: none;
    display: inline-block;

}
nav a{
    text-decoration: none;
    background-color: rgb(85, 94, 105);
    padding: 4px 8px;
    color: white;
}
nav a:hover{
    background-color: rgb(164, 174, 187);
   
}
.italic{
    font-style: italic;
}
label{
    display: block;
}
label span{
    display: inline-block;
    width: 75px;
}